{%- assign product_limit = section.settings.shop_products_row | times: section.settings.shop_rows_page -%}
{%- paginate collection.products by product_limit -%}
<div data-section-id="{{ section.id }}" data-section-type="collection-template">
	<div id="primary"
		 class="content-area shop-page{% if section.settings.shop_sidebar == '1' %} shop-has-sidebar{% endif %}">
		<div id="content" class="site-content">
			<div class="row">
				{%- if section.settings.shop_sidebar == '1' -%}
					<div class="xlarge-2 large-2 columns show-for-large-up sidebar-pos">
						<div class="shop_sidebar wpb_widgetised_column">
							<div id="secondary" class="widget-area" role="complementary">
								{%- include 'shop-sidebar' -%}
							</div>
						</div>
					</div>
				{%- endif -%}

				<div id="content-position"
					 class="{% if section.settings.shop_sidebar == '2' %}large-12{% else %}xlarge-10 large-9{% endif %} columns content-pos{% if section.settings.shop_pagination != '' %} hide-pagination{% endif %}">
					<div class="top_bar_shop">
						<div class="catalog-ordering">
							{%- if section.settings.shop_sidebar != '' -%}
								<div class="shop-filter" data-toggle="offcanvas" data-target="sidebar-offcanvas"
									 data-src="left"><span>{{ 'collections.general.filter' | t | escape }}</span></div>
							{%- endif -%}

							{%- if collection.products_count > 0 -%}
								<p class="result-count">{{ 'collections.general.showing' | t | escape }}
									: {{ paginate.current_offset | plus:1 }}
									-{% if paginate.next %}{{ paginate.current_offset | plus:paginate.page_size }}{% else %}{{ paginate.items }}{% endif %} {{ 'collections.general.of' | t | escape }} {{ 'collections.general.items_with_count' | t: count: paginate.items }}</p>

								<ul class="shop-ordering">
									<li id="shop-catalog-ordering">
										<div class="select2-selection">
											{%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
											<select class="orderby filters-toolbar__input--sort">
												{% if sort_by == collection.default_sort_by %}
													<option value="title-ascending"
															selected="selected">{{ 'collections.sorting.title' | t }}</option>
													{% if collection.default_sort_by != 'manual' %}
														<option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
													{% endif %}
													{% if collection.default_sort_by != 'best-selling' %}
														<option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
													{% endif %}
													{% if collection.default_sort_by != 'title-ascending' %}
														<option value="title-ascending"
																{% if sort_by == "title-ascending" %}selected="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</option>
													{% endif %}
													{% if collection.default_sort_by != 'title-descending' %}
														<option value="title-descending"{% if sort_by == "title-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</option>
													{% endif %}
													{% if collection.default_sort_by != 'price-ascending' %}
														<option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
													{% endif %}
													{% if collection.default_sort_by != 'price-descending' %}
														<option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
													{% endif %}
													{% if collection.default_sort_by != 'created-descending' %}
														<option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
													{% endif %}
													{% if collection.default_sort_by != 'created-ascending' %}
														<option value="created-ascending"{% if sort_by == "created-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
													{% endif %}
												{% else %}
													<option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
													<option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
													<option value="title-ascending"
															{% if sort_by == "title-ascending" %}selected="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</option>
													<option value="title-descending"{% if sort_by == "title-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</option>
													<option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
													<option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
													<option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
													<option value="created-ascending"{% if sort_by == "created-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
												{% endif %}
											</select>
										</div>
										<input class="collection-header__default-sort" type="hidden"
											   value="{{ collection.default_sort_by }}">
									</li>
								</ul>
							{%- endif -%}
						</div>
						<div class="clearfix"></div>
					</div>
					{%- if collection.products_count > 0 -%}
						{%- case section.settings.shop_products_row -%}
						{%- when '6' -%}
						{%- assign products_per_row = 6 -%}
						{%- assign products_per_row_xl = 6 -%}
						{%- assign products_per_row_l = 6 -%}
						{%- assign products_per_row_m = 4 -%}
						{%- assign products_per_row_s = 2 -%}
						{%- when '5' -%}
						{%- assign products_per_row = 5 -%}
						{%- assign products_per_row_xl = 5 -%}
						{%- assign products_per_row_l = 5 -%}
						{%- assign products_per_row_m = 3 -%}
						{%- assign products_per_row_s = 2 -%}
						{%- when '4' -%}
						{%- assign products_per_row = 4 -%}
						{%- assign products_per_row_xl = 4 -%}
						{%- assign products_per_row_l = 4 -%}
						{%- assign products_per_row_m = 3 -%}
						{%- assign products_per_row_s = 2 -%}
						{%- when '3' -%}
						{%- assign products_per_row = 3 -%}
						{%- assign products_per_row_xl = 3 -%}
						{%- assign products_per_row_l = 3 -%}
						{%- assign products_per_row_m = 2 -%}
						{%- assign products_per_row_s = 2 -%}
					{%- else -%}
						{%- assign products_per_row = 2 -%}
						{%- assign products_per_row_xl = 2 -%}
						{%- assign products_per_row_l = 2 -%}
						{%- assign products_per_row_m = 2 -%}
						{%- assign products_per_row_s = 2 -%}
						{%- endcase -%}
						<div class="row visible products products-grid product-category-list small-up-{{ products_per_row_s }} medium-up-{{ products_per_row_m }} large-up-{{ products_per_row_l }} xlarge-up-{{ products_per_row_xl }} xxlarge-up-{{ products_per_row }} animated fadeIn">
							{%- for my_product in collection.products -%}
								{%- include 'eva_product-item' -%}
							{%- endfor -%}
						</div>
						{%- case section.settings.shop_pagination -%}
						{%- when '1' -%}
						<div class="eva_ajax_load_button animated fadeIn">
							<a href="#" data-processing="0"
							   data-loading-items="{{ 'general.pagination.loading_items' | t | escape }}"
							   data-no-more="{{ 'general.pagination.no_more' | t | escape }}">
								<i class="icon-px-outline-load"></i>
								&nbsp;&nbsp;{{- 'general.pagination.load_more' | t | escape -}}
							</a>
						</div>
						{%- include 'pagination-eva' -%}
						{%- when '2' -%}
						<div class="eva_ajax_load_button eva_ajax_load_more_hidden animated fadeIn">
							<a href="#" data-processing="0"
							   data-loading-items="{{ 'general.pagination.loading_items' | t | escape }}"
							   data-no-more="{{ 'general.pagination.no_more' | t | escape }}">
								<i class="icon-px-outline-load"></i>
								&nbsp;&nbsp;{{- 'general.pagination.load_more' | t | escape -}}
							</a>
						</div>
						{%- include 'pagination-eva' -%}
					{%- else -%}
						{%- include 'pagination-eva' -%}
						{%- endcase -%}
					{%- else -%}
						<div class="no-products">
							<p>{{ 'collections.general.no_products' | t | escape }}</p>
						</div>
					{%- endif -%}
				</div>
			</div>
		</div>
	</div>
</div>
{%- endpaginate -%}

{% schema %}
{
"name": "Collection Pages",
"settings": [
{
"type": "select",
"id": "shop_sidebar",
"label": "Sidebar Style",
"options": [
{
"value": "",
"label": "None"
},
{
"value": "1",
"label": "On Page"
},
{
"value": "2",
"label": "Off-Canvas"
}
]
},
{
"type": "header",
"content": "Shop Display"
},
{
"type": "select",
"id": "shop_pagination",
"label": "Shop Pagination",
"options": [
{
"value": "",
"label": "Classic"
},
{
"value": "1",
"label": "Load More"
},
{
"value": "2",
"label": "Infinite"
}
]
},
{
"type": "select",
"id": "shop_products_row",
"label": "Products per Row",
"options": [
{
"value": "2",
"label": "2"
},
{
"value": "3",
"label": "3"
},
{
"value": "4",
"label": "4"
},
{
"value": "5",
"label": "5"
},
{
"value": "6",
"label": "6"
}
]
},
{
"type": "select",
"id": "shop_rows_page",
"label": "Rows per Page",
"options": [
{
"value": "2",
"label": "2"
},
{
"value": "3",
"label": "3"
},
{
"value": "4",
"label": "4"
},
{
"value": "5",
"label": "5"
},
{
"value": "6",
"label": "6"
},
{
"value": "7",
"label": "7"
},
{
"value": "8",
"label": "8"
}
]
},
{
"type": "select",
"id": "shop_description",
"label": "Collection description",
"options": [
{
"value": "",
"label": "Disable"
},
{
"value": "1",
"label": "Enable"
}
]
},
{
"type": "select",
"id": "shop_image",
"label": "Background in header",
"options": [
{
"value": "",
"label": "None"
},
{
"value": "1",
"label": "Default image"
},
{
"value": "2",
"label": "Collection image"
}
]
},
{
"type": "header",
"content": "Shop Sidebar"
}
],
"blocks": [
{
"type": "text",
"name": "Text",
"settings": [
{
"type": "text",
"id": "heading",
"label": "Heading",
"default": "Talk about your brand"
},
{
"type": "richtext",
"id": "text",
"label": "Text",
"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share
	announcements, or welcome customers to your store.</p>"
}
]
},
{
"type": "image",
"name": "Image",
"settings": [
{
"type": "text",
"id": "heading",
"label": "Heading"
},
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "url",
"id": "link",
"label": "Link"
}
]
},
{
"type": "video",
"name": "Video",
"settings": [
{
"type": "text",
"id": "heading",
"label": "Heading"
},
{
"type": "video_url",
"id": "video_url",
"label": "YouTube or Vimeo link",
"accept": ["youtube", "vimeo"]
}
]
},
{
"type": "html",
"name": "Custom HTML",
"settings": [
{
"type": "text",
"id": "heading",
"label": "Heading"
},
{
"type": "html",
"id": "code",
"label": "HTML"
}
]
},
{
"type": "collections",
"name": "Collection list",
"settings": [
{
"type": "text",
"id": "heading",
"label": "Heading",
"default": "Categories"
}
]
},
{
"type": "tags",
"name": "Product tags",
"settings": [
{
"type": "text",
"id": "heading",
"label": "Heading",
"default": "Product Tags"
}
]
},
{
"type": "products",
"name": "Featured collection",
"settings": [
{
"type": "text",
"id": "heading",
"label": "Heading",
"default": "Featured Products"
},
{
"type": "collection",
"id": "collection",
"label": "Collection"
},
{
"type": "text",
"id": "limit",
"label": "Limit",
"default": "3"
}
]
}
]
}
{% endschema %}